.hero_img {
  position: relative;
}
.hero_img::before {
  content: " ";
  bottom: 0px;
  width: 100%;
  height: 300px;

  position: absolute;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255)
  );
}
